PORT=3003
MONGODB_URI=mongodb://127.0.0.1:27017
MONGODB_DB_NAME=hto_numerology
MONGODB_SUBMISSIONS_COLLECTION=numerology_submissions
MONGODB_FEEDBACK_COLLECTION=numerology_feedbacks
MONGODB_AUTOMATION_COLLECTION=numerology_automation_events
MONGODB_MEANINGS_COLLECTION=numerology_meanings
MONGODB_MAPPINGS_COLLECTION=career_mappings

# Zalo Keys
ZALO_SECRET_KEY_1=your_zalo_secret_key_1
ZALO_SECRET_KEY_2=your_zalo_secret_key_2
ZALO_DV_ID=your_zalo_dv_id
STATIC_OA_ACCESS_TOKEN=your_oa_access_token
GOOGLE_SHEET_WEBHOOK_URL=https://script.google.com/macros/s/AKfycbyJTA5jZPEk344ISdCG0W4fWxKW_U8i3Fcv-7R3-FY8C_8KWi3hRA9DxRDpYUtvW3Y/exec
PUBLIC_APP_BASE_URL=https://zalo.me/s/HTO_App
FEEDBACK_SURVEY_DELAY_MINUTES=5
